@include e('label') {
  &:not(.ui__label--checkbox) {
    @include hidden;
  }

  @include m('checkbox') {
    position: relative;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    font-family: inherit;
    white-space: nowrap;

    &::before {
      content: '';
      background: {
        color: transparent;
        clip: content-box;
      }
      width: $checkbox-size-s;
      height: $checkbox-size-s;
      border: 1px solid color-get('black');
      padding: 3px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

@include e('input') {
  padding: 0;
  border: 1px solid color-get('black');
  outline: none;
  width: 100%;

  &::placeholder, &:invalid::placeholder {
    color: $color-input-placeholder;
    opacity: 1;
  }

  .ui__input-group--error & {
    color: $color-input-invalid;
  }

  .ui__input-group:not(.ui__input-group--error) &:valid {
    color: $color-input-valid;
  }

  @include m('textarea') {
    resize: vertical;

    .ui__input-group:not(.ui__input-group--error) &:invalid:focus {
      color: $color-input-valid;
    }
  }

  @include m('checkbox') {
    @include hidden;

    &:checked + .ui__label--checkbox {
      &::before {
        background-color: color-get(black);
      }
    }
  }
}

@include e('input-errors') {
  display: flex;
  @include list-reset;
  align-items: flex-end;
  margin-top: 6px;
  color: $color-input-invalid;
  flex-direction: column;

  &:empty {
    margin-top: 0;
  }

  & > *:not(:last-child) {
    margin-bottom: 3px;
  }
}