include mixins/bem.pug
include mixins/svg.pug

doctype html
html.no-js(lang='en-US')
  include site/partials/head/head.pug
  body
    include site/partials/main.pug
    include site/partials/scripts-hashed.pug
