@include m('footer') {
  $grid-footer-template-area: 'a a a a a a';

  $grid-footer-template-area-big: 'a a a a a a a a a a a a';

  @include grid-setup(false, $grid-footer-template-area);
  padding-bottom: $gutter * 2;
  row-gap: 0;

  @include bp('grid-big') {
    @include grid-setup('grid-big', $grid-footer-template-area-big);
    padding-bottom: $gutter-big * 2;
  }

  @include bp('grid-bigger') {
    @include grid-setup('grid-bigger', $grid-footer-template-area-big);
    padding-bottom: $gutter-bigger * 2;
  }
}

@include e('area') {
  @include contain-margins;

  @include m('footer') {
    grid-area: a;
  }
}
