@include m('header') {
  /* prettier-ignore */
  $grid-template-area: 'a a a a a a';

  /* prettier-ignore */
  $grid-template-area-big: 'a a a a a a a a a a a a';

  @include grid-setup(false, $grid-template-area);
  row-gap: 0;

  padding: {
    top: $gutter;
    bottom: $gutter * 2;
  }

  @include bp('grid-big') {
    @include grid-setup('grid-big', $grid-template-area-big);
    padding: {
      top: $gutter-big;
      bottom: $gutter-big * 2;
    }
  }

  @include bp('grid-bigger') {
    @include grid-setup('grid-bigger', $grid-template-area-big);
    padding: {
      top: $gutter-bigger;
      bottom: $gutter-bigger * 2;
    }
  }
}

@include e('area') {
  @include m('header') {
    grid-area: a;
  }
}
